In [1]:
list(range(0,20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [2]:
#now i will convert into an array and then break into 2 dimensional array which is metric.
# we can do this with numpy function "arange" it will give array output.

In [6]:
import numpy as np
mydata = np.arange(0,20)

In [7]:
mydata

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

In [14]:
# now i will reshape mydata into 2 dimensional array by using numpy function "reshape"

mydata = np.reshape(mydata,(5,4)) # here pass 5 as row , 4 as column

In [15]:
mydata

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

In [16]:
# now for populate as column vise i will need to add "F" "F stands for 'false'"
mydata = np.reshape(mydata,(5,4),'F')

In [17]:
mydata

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

In [18]:
 # SLICING

In [19]:
mydata

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

In [21]:
mydata[3,2]  # indexation starts with 0, so first part is 0. so 12 is 3 no row and i am interested in 14 which is in 2 no column.

14

In [23]:
sales_us = [3654,1589,2478,4521]
sales_jp = [1248,6542,2458,3548]
sales_eu = [1478,2579,6412,2785]

In [24]:
profit_us = [345,258,214, 245]
profit_jp = [120,580,245,200]
profit_eu = [145,240,587,241]

In [26]:
sales_matrix = np.array([sales_us,sales_jp,sales_eu])

In [27]:
profit_matrix = np.array([profit_us, profit_jp, profit_eu])

In [33]:
profit_ratio =profit_matrix / sales_matrix  # for generating matrix row and column should be of same size.

In [34]:
profit_ratio[2,0]

0.09810554803788904

In [36]:
qdict = {"Q1" : 0, "Q2": 1, "Q3":2, "Q4" :3}
# now we have large data then finding particular value will be difficult, so we will create dictionary based on Quartor, region
# it will help to find particular quartar detail with required region, which will very easy to find.

In [37]:
qdict

{'Q1': 0, 'Q2': 1, 'Q3': 2, 'Q4': 3}

In [38]:
rdict = {'US' :0, 'EU' : 1, 'JP' : 2}

In [39]:
profit_matrix[rdict['JP']][qdict['Q3']]

587

In [41]:
profit_matrix[rdict['US']][qdict['Q1']]

345

In [44]:
profit_matrix[rdict['EU']][qdict['Q1']]

120